/*start annoucement*/
.annoucement{
    background-color:rgb(240, 240, 128);
    text-align: center;
    width: 900px;
    height: 150px;
    margin-left: 10%;
    margin-right: 80%;
}
/*end annoucement*/

